@import url('https://fonts.googleapis.com/css2?family=Geist:wght@400;700&family=Satoshi:wght@400;700&display=swap');

html, body {
  @apply bg-primary text-secondary min-h-screen;
  font-family: 'Geist', 'Satoshi', 'Inter', sans-serif;
}

.glass-bg {
  background: rgba(255,255,255,0.1);
  box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.18);
}